section {
  margin: 15px;

}

h1 {
  color: black;
  font-family: Courier;
  margin-bottom: 25px;
  font-size: 30px;
}

input {
  height: 20px;
  width: 100px;
  margin-right: 3px;
  margin-bottom: 3px;
}


.button {
  font-size: 15px;
  margin-right: 3px;
  margin-bottom: 3px;
}

div {
  display: block;
  border: 1px solid grey;
  width: 500px;
  background-color: rgb(199, 222, 230);
}
